// src/assets/styles/_variables.scss

// Color Palette
$primary-color: #2C1555;
$secondary-color: #CD84D4;
$detail-color: #6F50C9;
$background-color: #8D92E7;

// Border Radius
$border-radius: 8px; // You can adjust this value as needed